@import url('./main-layout.css');
@import url('./views/hello-world-view.css');
@import url('./views/about-view.css');
@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');    html {
      --lumo-primary-color: hsl(214, 53%, 47%);
      --lumo-primary-color-50pct: hsla(214, 53%, 47%, 0.5);
      --lumo-primary-color-10pct: hsla(214, 53%, 47%, 0.1);

    }

    [theme~="dark"] {
      --lumo-shade-5pct: hsla(214, 31%, 12%, 0.05);
      --lumo-shade-10pct: hsla(214, 31%, 12%, 0.1);
      --lumo-shade-20pct: hsla(214, 31%, 12%, 0.2);
      --lumo-shade-30pct: hsla(214, 31%, 12%, 0.3);
      --lumo-shade-40pct: hsla(214, 31%, 12%, 0.4);
      --lumo-shade-50pct: hsla(214, 31%, 12%, 0.5);
      --lumo-shade-60pct: hsla(214, 31%, 12%, 0.6);
      --lumo-shade-70pct: hsla(214, 31%, 12%, 0.7);
      --lumo-shade-80pct: hsla(214, 31%, 12%, 0.8);
      --lumo-shade-90pct: hsla(214, 31%, 12%, 0.9);
      --lumo-error-color-50pct: hsla(3, 74%, 38%, 0.5);
      --lumo-error-color-10pct: hsla(3, 74%, 38%, 0.1);
      --lumo-shade: hsl(214, 31%, 12%);
      --lumo-error-color: hsl(3, 74%, 38%);
      --lumo-base-color: hsla(230, 86%, 37%, 0.88);
      --lumo-body-text-color: hsla(214, 29%, 60%, 0.9);

    }
